__pycache__/
.DS_Store
.cometml-runs/
data/dst-3.0_16_1_hh_database.csv
data/hotels.csv
data/Project5_osrm_data_test.csv
data/Project5_osrm_data_train_taxi.csv
data/Project5_submission_gb.csv
data/Project5_test_data.csv
data/Project5_train-taxi-ride.csv
data/Project6_customer_segmentation_project.csv
projects/project-6/Project6_customer_segmentation_project_cleaned.csv
resources/
settings.py
