__pycache__/
.DS_Store
.cometml-runs/
data/dst-3.0_16_1_hh_database.csv
data/hotels.csv
data/Project5_osrm_data_test.csv
data/Project5_osrm_data_train_taxi.csv
data/Project5_submission_gb.csv
data/Project5_test_data.csv
data/Project5_train-taxi-ride.csv
data/Project6_customer_segmentation_project.csv
datasets/
projects/project-6/boxplot_1.html
projects/project-6/boxplot_2.html
projects/project-6/Project6_customer_segmentation_project_cleaned.csv
projects/project-7-final/DSPR_Итоговый_проект_Бриф_3_Определение_уязвимых_групп_населения.pdf
projects/project-7-final/feedback.pdf
projects/project-8/data/train/
projects/project-8/data/valid/
projects/project-9/data
projects/project-9/runs
projects/project-9/yolov5mu.pt
resources/
settings.py
tasks/task-12/data/
tasks/task-13/data/
yolov5s.pt
.venv/